<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Movie</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="page-title">Remove movie from {{ user['name'] }}s' list:</h1>
    <div class="user-list">
    <form action="/users/{{ user['id'] }}">
      <button class="add-button" type="submit">Cancel</button>
    </form>
</div>
    <ul><li class="movie-item" type="1">
        <div class="movie-details">
            <p>
                <strong>Title:</strong> {{ movie['title'] }}<br>
                <strong>Rated:</strong> {{ movie['rating'] }}<br>
                <strong>Director:</strong> {{ movie['director'] }}<br>
                <strong>Year Released:</strong> {{ movie['year'] }}<br>
                <strong>Comments:</strong>
                {% for review in movie['reviews'] %}
                <br>- {{ review }}
                {% endfor %}
            </p>
        </div>
    </li></ul>
    <div class="user-list">
<form action="/users/{{ user['id'] }}/delete_movie/{{ movie['id'] }}" method="POST">
    <button style="background-color:red" class="delete-button" name="{{ movie['id']}}">
        Permanently delete "{{ movie['title'] }}" from {{ user['name'] }}s' list</button>
</form></div>
</body>
</html>