<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user['name'] }}'s movie list</title>
</head>
<body>
  <h1>Movie list</h1>
  <div>
      <form action="/users/{{ user['id'] }}/add_movie">
          <button>Add movie +</button>
      </form>
      <br>
      <form action="/users">
          <input type="submit" value="Return back to users list">
      </form>
  </div>
  <ul>{% for item in movies %}
      <p>
        <strong>Title:</strong> {{ item['title'] }}<br>
        <strong>Rated:</strong> {{ item['rating'] }}<br>
        <strong>Director:</strong> {{ item['director'] }}<br>
        <strong>Year released:</strong> {{ item['year'] }}

        <form action="/users/{{ user['id'] }}/update_movie/{{ item['id'] }}">
            <button>Edit</button>
        </form>

        <form action="/users/{{ user['id'] }}/delete_movie/{{ item['id'] }}">
            <button>Delete</button><br><br><br>
        </form>
      {% endfor %} <!-- Changing spelling results in TemplateSyntaxError -->
  </ul>
</body>
</html>